body {background-color:rgb(210, 255, 196);
    margin: 10;
    padding: 10;
}

.banner{
    background-color: rgb(210, 255, 196);
    margin: 0;
    padding:15px;
    width: 100%;
}

#logo{
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.banner-title{
    font-family: papyrus;
    margin: 5px;
    padding:10px;
    font-size:500%;
    text-align: center;
}

.navigation_bar {
    background-color:black;
    margin: 10;
    padding: 5px;
    width: 100%;
    text-align: center;
}

a.nav {
    padding: 20px 10px;
    text-align: center;
    color:rgb(210, 255, 196);
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 30px;
    padding: 20px 30px;
    justify-content: space-between;
}

a.nav:hover { color:darkolivegreen}

a.nav:active {color:darkcyan}

.container{
    margin: 0;
    padding: 15px,15px;
}

.foot{
    background-color:lightgrey;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
}

.foot_element{
    text-align: center;
}

.outside-container{
    padding: 50px;
    margin: 0
}

.flash{
    color: red
}

.flashes{
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

table, th, td{
    border: 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}


#registerform {
    text-align: left;
    padding: 10px;
}

label {
    width: 128px;
    display: inline-block;
    padding: 10px;
}

input[type=button], input[type=submit] {
    background-color: black;
    border: none;
    color: green;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    border: 2px solid;
    text-size-adjust: 30px;
    text-align: center;
}